build/
projects/build/

garage_front_end/node_modules/
garage_front_end/.pnp
garage_front_end/.pnp.js
garage_front_end/coverage/
garage_front_end/build/
garage_front_end/.DS_Store
garage_front_end/.env.local
garage_front_end/.env.development.local
garage_front_end/.env.test.local
garage_front_end/.env.production.local
garage_front_end/npm-debug.log*
garage_front_end/yarn-debug.log*
garage_front_end/yarn-error.log*

garage_back_end/back_end_server/__pycache__/
garage_back_end/back_end_app/__pycache__/
garage_back_end/projects/__pycache__/
garage_back_end/projects/simulator/python_facade/__pycache__/
garage_back_end/projects/ppo/__pycache__
garage_back_end/projects/ppo/saved_models/